@page "/samplepage" 
@using DotNetFagWebShop.Client.Components 
<h3>Hello!</h3>
<SamplePageContentComponent MyText="@Text"/>

@code {
    // simulate api fetch

    // structure data into object

    // object used to populate data
    private string Text = "Sample Page! This is a sample text, fetched from API";
}
